<div class="banner-container">
    <div class="banner-content-container">
        <h1 class="site-heading">Агрегатор попутчиков “<span class="blue-txt">ТРАНЗИТ</span>”</h1>
        <span class="content-small">Междугородние транзитные перевозка пассажиров и грузов</span>
        <div class="mobile-store-container">
            <a href="#" class="mobile-link">
                <div class="store-image-container">
                    <img src="/images/google play.svg" alt="Download on Google Play" class="store-image">
                </div>
            </a>
            <a href="#" class="mobile-link">
                <div class="store-image-container">
                    <img src="/images/ru store.svg" alt="Download on RU Store" class="store-image">
                </div>
            </a>
            <a href="#" class="mobile-link">
                <div class="store-image-container">
                    <img src="/images/nash store.svg" alt="Download on RU Store" class="store-image">
                </div>
            </a>
        </div>
    </div>
</div>