<footer>
    <div class="footer-container">
        <div class="footer-content">
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="/" class="footer-logo-link">
                        <div class="footer-logo-container">
                            <img src="/images/footer-logo.svg" alt="" class="footer-logo">
                        </div>
                    </a>
                    <span class="footer-address">г. Волгоград, улица<br>Куринская дом 19, офис 6</span>
                    <a href="tel: 8 (8442) 33-30-20" class="footer-tel-link"><img src="/images/Call.svg" alt="" class="footer-tel-icon"> <span class="footer-tel">8 (8442) 33-30-20</span></a>
                </li>
                <li class="footer-item">
                    <ul class="footer-links">
                        <li class="footer-links-item">
                            <a href="#" class="footer-link">О нас</a>
                        </li>
                        <li class="footer-links-item">
                            <a href="#" class="footer-link">Центр помощи</a>
                        </li>
                        <li class="footer-links-item">
                            <a href="#" class="footer-link">Условия использования</a>
                        </li>
                    </ul>
                </li>
                <li class="footer-item">
                    <ul class="footer-links">
                        <li class="footer-links-item">
                            <a href="#" class="footer-link">Публичная оферта</a>
                        </li>
                        <li class="footer-links-item">
                            <a href="#" class="footer-link">Пользовательское соглашение</a>
                        </li>
                        <li class="footer-links-item">
                            <a href="#" class="footer-link">Политика конфиденциальности</a>
                        </li>
                    </ul>
                </li>
                <li class="footer-item">
                    <a href="#" class="taxi-link"><img src="/images/solid_taxi.svg" alt="" class="taxi-icon"><span class="taxi-txt">Заказать такси</span></a>
                    <ul class="socials">
                        <li class="social-item">
                            <a href="#" class="social-link">
                                <img src="/images/facebook.svg" alt="" class="social-icon">
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="#" class="social-link">
                                <img src="/images/instagram.svg" alt="" class="social-icon">
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="#" class="social-link">
                                <img src="/images/youtube.svg" alt="" class="social-icon">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="copyright-container">
            <span class="copyright-txt">© 2022 • OOO «МАЛ»</span>
        </div>
        <div class="app-ad-container">
            <h1 class="ad-head">Установите приложение<br>Транзит бесплатно</h1>
            <img src="/images/footer-mockup.png" alt="" class="footer-ad-image">
            <div class="mobile-store-container">
                <a href="#" class="mobile-link">
                    <div class="store-image-container">
                        <img src="/images/google play.svg" alt="Download on Google Play" class="store-image">
                    </div>
                </a>
                <a href="#" class="mobile-link">
                    <div class="store-image-container">
                        <img src="/images/ru store.svg" alt="Download on RU Store" class="store-image">
                    </div>
                </a>
                <a href="#" class="mobile-link">
                    <div class="store-image-container">
                        <img src="/images/nash store.svg" alt="Download on RU Store" class="store-image">
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>

<script src="/js/script.js"></script>
</body>
</html>