<section>
    <div class="hiw-container">
        <div class="order-panel">
            <div class="order-fs">
                <div class="from-container order-containers">
                    <label for="from" class="address-label">
                        <span class="order-headings">Откуда</span>
                        <input type="text" class="order-input" placeholder="Начальная точка" id="from">
                    </label>
                </div>
                <div class="to-container order-containers">
                    <label for="to" class="address-label">
                        <span class="order-headings">куда</span>
                        <input type="text" class="order-input" placeholder="Конечная точка" id="to">
                    </label>
                </div>
            </div>
            <div class="order-nd">
                <div class="passengers-container order-containers">
                    <span class="order-headings">Пассажиров</span>
                    <span class="order-value">1</span>
                </div>
                <div class="order-date-container order-containers">
                    <span class="order-headings">Дата</span>
                    <div class="order-date-picker-container"></div>
                </div>
                <a href="/posts/get" class="submit-order-filter">Поиск</a>
            </div>
        </div>
    </div>
    <div class="hiw-sd-container">
        <div class="hiw-header">
            <span class="hiw-small-heading">Как это работает</span>
            <h1 class="hiw-heading">3 Простых шага для поездки</h1>
        </div>
        <div class="hiw-content">
            <div class="hiw-single-block">
                <div class="image-container user-image-container">
                    <img src="/images/hiw-user.svg" alt="" class="hiw-image user-image">
                </div>
                <span class="hiw-single-heading">Авторизуйтесь</span>
                <div class="hiw-single-desc">Пройдите небольшую<br>регистрацию</div>
            </div>
            <div class="hiw-single-block">
                <div class="image-container location-image-container">
                    <img src="/images/hiw-location.svg" alt="" class="hiw-image user-image">
                </div>
                <span class="hiw-single-heading">Введите пункт назначения</span>
                <div class="hiw-single-desc">Подберите для себя<br>оптимальную время для поездки</div>
            </div>
            <div class="hiw-single-block">
                <div class="image-container car-image-container">
                    <img src="/images/hiw-car.svg" alt="" class="hiw-image user-image">
                </div>
                <span class="hiw-single-heading">Забронируйте место</span>
                <div class="hiw-single-desc">Забронируйте место в<br>машине или в автобусе</div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="wu-container">
        <div class="wu-img-container">
            <img src="/images/wu.png" alt="" class="wu-img">
        </div>
        <div class="wu-content">
            <span class="wu-head-desc">Наши преимущества</span>
            <h2 class="wu-heading">Почему выбирают нас!</h2>
            <div class="wu-content-cards">
                <div class="wu-card-image-container">
                    <img src="/images/wu-star.svg" alt="" class="wu-card-img">
                </div>
                <div class="wu-card-content">
                    <h2 class="wu-card-head">Мы предлагаем качественный<br>надежный сервис</h2>
                    <span class="wu-car-desc">Большая команда специалистов</span>
                </div>
            </div>
            <div class="wu-content-cards">
                <div class="wu-card-image-container">
                    <img src="/images/wu-price.svg" alt="" class="wu-card-img">
                </div>
                <div class="wu-card-content">
                    <h2 class="wu-card-head">Оптимальные цены</h2>
                    <span class="wu-car-desc">Оптимальные цены за поездки<br>водителям и попутчикам</span>
                </div>
            </div>
            <div class="wu-content-cards">
                <div class="wu-card-image-container">
                    <img src="/images/wu-profile.svg" alt="" class="wu-card-img">
                </div>
                <div class="wu-card-content">
                    <h2 class="wu-card-head">Опытные водители</h2>
                    <span class="wu-car-desc">Тщательно отобранные водители со<br>стажем от 3 лет</span>
                </div>
            </div>
            <div class="wu-content-cards">
                <div class="wu-card-image-container">
                    <img src="/images/wu-refresh.svg" alt="" class="wu-card-img">
                </div>
                <div class="wu-card-content">
                    <h2 class="wu-card-head">Круглосуточная работа сервиса</h2>
                    <span class="wu-car-desc">Забронируйте поездку в любое<br>удобное для вас время</span>
                </div>
            </div>
            <div class="wu-content-cards">
                <div class="wu-card-image-container">
                    <img src="/images/wi-messages.svg" alt="" class="wu-card-img">
                </div>
                <div class="wu-card-content">
                    <h2 class="wu-card-head">24/7 Техническая поддержка</h2>
                    <span class="wu-car-desc">Служба поддержки помогут узнать<br>ответы на все ваши вопросы</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="pd-container">
        <span class="pd-head-desc">Популярные направления</span>
        <h2 class="pd-head">Популярные направления для поездок</h2>
        <div class="pd-slider-container">
            <div class="pd-slider-item">
                <img src="/images/moscow.png" alt="Moscow" class="pd-slider-img">
                <h3 class="pd-slider-head">МОСКВА</h3>
            </div>
            <div class="pd-slider-item">
                <img src="/images/Saint-peter.png" alt="Saint Peter" class="pd-slider-img">
                <h3 class="pd-slider-head">Санкт-Петербург</h3>
            </div>
            <div class="pd-slider-item">
                <img src="/images/kazan.png" alt="Kazan" class="pd-slider-img">
                <h3 class="pd-slider-head">Казань</h3>
            </div>
            <div class="pd-slider-item">
                <img src="/images/Krasnodar.png" alt="Moscow" class="pd-slider-img">
                <h3 class="pd-slider-head">Краснодар</h3>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="bus-container">
        <div class="bus-content">
            <span class="wu-head-desc">Почему выбирают нас!</span>
            <h2 class="wu-heading">В агрегаторе попутчиков “<span class="primary">Транзит</span>”<br>можно бронировать автобусные билеты</h2>
            <div class="wu-content-cards">
                <div class="wu-card-image-container">
                    <img src="/images/wu-price.svg" alt="" class="wu-card-img">
                </div>
                <div class="wu-card-content">
                    <h2 class="wu-card-head">Оптимальные цены</h2>
                    <span class="wu-car-desc">Оптимальные цены за поездки<br>водителям и попутчикам</span>
                </div>
            </div>
            <div class="wu-content-cards">
                <div class="wu-card-image-container">
                    <img src="/images/wu-profile.svg" alt="" class="wu-card-img">
                </div>
                <div class="wu-card-content">
                    <h2 class="wu-card-head">Официальные перевозчики</h2>
                    <span class="wu-car-desc">Тщательно отобранные водители со<br>стажем от 3 лет</span>
                </div>
            </div>
            <div class="wu-content-cards">
                <div class="wu-card-image-container">
                    <img src="/images/wu-refresh.svg" alt="" class="wu-card-img">
                </div>
                <div class="wu-card-content">
                    <h2 class="wu-card-head">Круглосуточная работа сервиса</h2>
                    <span class="wu-car-desc">Забронируйте поездку в любое<br>удобное для вас время</span>
                </div>
            </div>
            <div class="wu-content-cards">
                <div class="wu-card-image-container">
                    <img src="/images/wi-messages.svg" alt="" class="wu-card-img">
                </div>
                <div class="wu-card-content">
                    <h2 class="wu-card-head">24/7 Техническая поддержка</h2>
                    <span class="wu-car-desc">Служба поддержки помогут узнать<br>ответы на все ваши вопросы</span>
                </div>
            </div>
        </div>
        <img src="/images/bus-image.png" alt="bus_transit" class="bus-img">
    </div>
</section>
<section>
    <div class="comments-container">
        <span class="pd-head-desc">Отзывы</span>
        <h2 class="pd-head">Что о нас говорят?</h2>
        <div class="slider-container">
            <img src="/images/comment.png" alt="" class="comment-img">
            <div class="comment-content">
                <span class="comment-txt">Очень хороший сервис порадовало качество обслуживания доступные цены, а также быстрая поддержка всем рекомендую</span>
                <h3 class="comment-name">Александр</h3>
                <div class="comment-rate">
                    <ul class="star-list">
                        <li class="star-item">
                            <img src="/images/rating.svg" alt="" class="star-image">
                        </li>
                        <li class="star-item">
                            <img src="/images/rating.svg" alt="" class="star-image">
                        </li>
                        <li class="star-item">
                            <img src="/images/rating.svg" alt="" class="star-image">
                        </li>
                        <li class="star-item">
                            <img src="/images/rating.svg" alt="" class="star-image">
                        </li>
                        <li class="star-item">
                            <img src="/images/rating.svg" alt="" class="star-image">
                        </li>
                        <li class="star-item">
                            <img src="/images/rating-half.svg" alt="" class="star-image">
                        </li>
                    </ul>
                    <span class="rating-txt">4.8</span>
                </div>
                <ul class="comment-slider-dots">
                    <li class="slider-dot">
                        <div class="slider-dot-filled"></div>
                    </li>
                    <li class="slider-dot">
                        <div class="slider-dot-filled empty"></div>
                    </li>
                    <li class="slider-dot">
                        <div class="slider-dot-filled empty"></div>
                    </li>
                    <li class="slider-dot">
                        <div class="slider-dot-filled empty"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="wu-container">
        <div class="wu-img-container">
            <img src="/images/trucks_block_image.png" alt="" class="wu-img">
        </div>
        <div class="wu-content">
            <span class="wu-head-desc">Наши преимущества</span>
            <h2 class="wu-heading">Перевозка грузов</h2>
            <div class="wu-content-cards">
                <div class="wu-card-image-container">
                    <img src="/images/wu-star.svg" alt="" class="wu-card-img">
                </div>
                <div class="wu-card-content">
                    <h2 class="wu-card-head">Мы предлагаем качественный<br>надежный сервис</h2>
                    <span class="wu-car-desc">Большая команда специалистов</span>
                </div>
            </div>
            <div class="wu-content-cards">
                <div class="wu-card-image-container">
                    <img src="/images/wu-price.svg" alt="" class="wu-card-img">
                </div>
                <div class="wu-card-content">
                    <h2 class="wu-card-head">Оптимальные цены</h2>
                    <span class="wu-car-desc">Оптимальные цены за поездки<br>водителям и попутчикам</span>
                </div>
            </div>
            <div class="wu-content-cards">
                <div class="wu-card-image-container">
                    <img src="/images/wu-profile.svg" alt="" class="wu-card-img">
                </div>
                <div class="wu-card-content">
                    <h2 class="wu-card-head">Опытные водители</h2>
                    <span class="wu-car-desc">Тщательно отобранные водители со<br>стажем от 3 лет</span>
                </div>
            </div>
            <div class="wu-content-cards">
                <div class="wu-card-image-container">
                    <img src="/images/wu-refresh.svg" alt="" class="wu-card-img">
                </div>
                <div class="wu-card-content">
                    <h2 class="wu-card-head">Круглосуточная работа сервиса</h2>
                    <span class="wu-car-desc">Забронируйте поездку в любое<br>удобное для вас время</span>
                </div>
            </div>
        </div>
    </div>
</section>