<div class="p-container">
    <div class="combined-title-card">
        <h1 class="combined-title-text">Сегодня</h1>
        <div class="post-card">
            <div class="post-dates-container">
                <div class="post-info">
                    <div class="post-date-container">
                        <span class="post-date-txt">09:45</span>
                    </div>
                    <span class="post-address">Ставрополь, автовокзал</span>
                </div>
                <div class="post-info mid-post-date">
                    <div class="post-date-container">
                        <span class="post-date-txt">15:10</span>
                    </div>
                    <span class="post-address">Ростов-на-Дону, автовокзал</span>
                </div>
                <div class="post-info">
                    <div class="post-date-container">
                        <span class="post-date-txt">5ч-10м</span>
                    </div>
                    <span class="post-time">Время в пути</span>
                </div>
            </div>
            <div class="post-details">
                <div class="user-info-container">
                    <img src="/images/user-image.png" alt="" class="user-image">
                    <div class="user-info">
                        <span class="user-name">Евгений</span>
                        <div class="user-rate">
                            <img src="/images/rate-star.svg" alt="" class="rate-star">
                            <span class="rate-txt">5,0</span>
                        </div>
                    </div>
                </div>
                <div class="service-details">
                    <div class="car-details">
                        <img src="/images/car-small.svg" alt="" class="car-icon">
                        <span class="car-name">Lada Granta</span>
                    </div>
                    <div class="car-services">
                        <img src="/images/smoke.svg" alt="" class="service-icons">
                        <img src="/images/wifi.svg" alt="" class="service-icons">
                        <img src="/images/condicioner.svg" alt="" class="service-icons">
                    </div>
                </div>
            </div>
            <div class="price-container">
                <span class="price">1 393₽</span>
                <span class="place">1 место</span>
                <a href="/posts-result" class="select-link">Забронировано</a>
            </div>
        </div>
    </div>
    <div class="combined-title-card">
        <h1 class="combined-title-text">Вчера</h1>
        <div class="post-card">
            <div class="post-dates-container">
                <div class="post-info">
                    <div class="post-date-container">
                        <span class="post-date-txt">09:45</span>
                    </div>
                    <span class="post-address">Ставрополь, автовокзал</span>
                </div>
                <div class="post-info mid-post-date">
                    <div class="post-date-container">
                        <span class="post-date-txt">15:10</span>
                    </div>
                    <span class="post-address">Ростов-на-Дону, автовокзал</span>
                </div>
                <div class="post-info">
                    <div class="post-date-container">
                        <span class="post-date-txt">5ч-10м</span>
                    </div>
                    <span class="post-time">Время в пути</span>
                </div>
            </div>
            <div class="post-details">
                <div class="user-info-container">
                    <img src="/images/user-image.png" alt="" class="user-image">
                    <div class="user-info">
                        <span class="user-name">Евгений</span>
                        <div class="user-rate">
                            <img src="/images/rate-star.svg" alt="" class="rate-star">
                            <span class="rate-txt">5,0</span>
                        </div>
                    </div>
                </div>
                <div class="service-details">
                    <div class="car-details">
                        <img src="/images/car-small.svg" alt="" class="car-icon">
                        <span class="car-name">Lada Granta</span>
                    </div>
                    <div class="car-services">
                        <img src="/images/smoke.svg" alt="" class="service-icons">
                        <img src="/images/wifi.svg" alt="" class="service-icons">
                        <img src="/images/condicioner.svg" alt="" class="service-icons">
                    </div>
                </div>
            </div>
            <div class="price-container">
                <span class="price">1 393₽</span>
                <span class="place">1 место</span>
                <a href="/posts-result" class=" c-green select-link ">Завершено</a>
            </div>
        </div>
    </div>
    <div class="combined-title-card">
        <h1 class="combined-title-text">30 Июля, Вт</h1>
        <div class="post-card">
            <div class="post-dates-container">
                <div class="post-info">
                    <div class="post-date-container">
                        <span class="post-date-txt">09:45</span>
                    </div>
                    <span class="post-address">Ставрополь, автовокзал</span>
                </div>
                <div class="post-info mid-post-date">
                    <div class="post-date-container">
                        <span class="post-date-txt">15:10</span>
                    </div>
                    <span class="post-address">Ростов-на-Дону, автовокзал</span>
                </div>
                <div class="post-info">
                    <div class="post-date-container">
                        <span class="post-date-txt">5ч-10м</span>
                    </div>
                    <span class="post-time">Время в пути</span>
                </div>
            </div>
            <div class="post-details">
                <div class="user-info-container">
                    <img src="/images/user-image.png" alt="" class="user-image">
                    <div class="user-info">
                        <span class="user-name">Евгений</span>
                        <div class="user-rate">
                            <img src="/images/rate-star.svg" alt="" class="rate-star">
                            <span class="rate-txt">5,0</span>
                        </div>
                    </div>
                </div>
                <div class="service-details">
                    <div class="car-details">
                        <img src="/images/car-small.svg" alt="" class="car-icon">
                        <span class="car-name">Lada Granta</span>
                    </div>
                    <div class="car-services">
                        <img src="/images/smoke.svg" alt="" class="service-icons">
                        <img src="/images/wifi.svg" alt="" class="service-icons">
                        <img src="/images/condicioner.svg" alt="" class="service-icons">
                    </div>
                </div>
            </div>
            <div class="price-container">
                <span class="price">1 393₽</span>
                <span class="place">1 место</span>
                <a href="/posts-result" class="select-link c-red">Отменено</a>
            </div>
        </div>
    </div>
</div>