<div class="register-container">
    <h1 class="page-title">Восстановление пароля</h1>
    <div class="page-content">
        <div class="page-content-header">
            <h2 class="register-content-heading">Восстановление через эл.почту</h2>
            <span class="stage-txt">Шаг 1/2</span>
        </div>
        <div class="page-content-body">
            <form method="POST" class="register-form" action="/forgetStep">
                <input type="text" class="register-input" placeholder="Введите эл.адрес" name="surname">
                <button class="form-submit-btn" type="submit">Продолжить</button>
            </form>
            <a href="/" class="cancel-link">Назад</a>
        </div>
    </div>
</div>