<div class="register-container">
    <h1 class="page-title">Восстановление пароля</h1>
    <div class="page-content">
        <div class="page-content-header">
            <h2 class="register-content-heading">Восстановление через эл.почту</h2>
            <span class="stage-txt">Шаг 2/2</span>
        </div>
        <div class="page-content-body">
            <form method="POST" class="register-form" action="../">
                <input type="password" class="register-input" placeholder="Придумайте пароль" name="password">
                <input type="password" class="register-input" placeholder="Подтвердите пароль пароль" name="entered_password">
                <button class="form-submit-btn" type="submit">Продолжить</button>
            </form>
            <a href="../" class="cancel-link">Назад</a>
        </div>
    </div>
</div>