<div class="search-result-container">
    <div class="search-result-body-content-block">
        <button class="btn-search-result-title">Посмотреть на карте</button>
        <div class="search-result-route-block">
            <div class="s-r-route-title-item">
                <span class="s-r-route-text">Маршрут</span>
                <span class="s-r-route-date">2 Авг 2022, Вт</span>
            </div>
            <div class="s-r-route-time-block">
                <div class="s-r-route-time-item">
                    <div class="s-r-route-block-time mar-b-10">
                        <span class="s-r-time-text">09:45</span>
                    </div>
                    <div class=""><img src="/images/Line_3.svg" alt="" class="mar-b-10"></div>
                    <div class="s-r-route-block-time ">
                        <span class="s-r-time-text">15:10</span>
                    </div>
                </div>
                <div class="s-r-route-time-content">
                    <h1 class="s-r-route-title-content">Ставрополь</h1>
                    <span class="s-r-des-content">Автовокзал "Центральный", улица Маршала Жукова; дом 27</span>
                    <h1 class="s-r-route-title-content mar-t-25">Ростов на Дону</h1>
                    <span class="s-r-des-content ">Остановка Ростов-на-Дону (возле торгового центра MEGA, IKEA) , Аксайский проспект; дом 27</span>
                </div>
            </div>
        </div>
        <div class="s-r-route-sales-block">
            <span class="s-r-route-sales">Цена за 1 место</span>
            <span class="s-r-route-sales">1 393₽</span>
        </div>
        <div class="search-result-route-block">
            <div class="s-r-route-title-item">
                <span class="s-r-route-text">Пассажиры</span>
                <span class="s-r-route-date color-font">3/4</span>
            </div>
            <div class="s-r-route-passenger-main-block ">
                <div class="s-r-route-passenger-block">
                    <div class="s-r-passenger">
                        <img src="/images/Ilya.png" alt="" class="s-r-passenger-img">
                        <span class="name-passenger">Илья</span>
                    </div>
                    <div class="s-r-p-route-text-block">
                        <span class="s-r-route-text">Ств</span>
                        <img src="/images/arrow-right.svg" alt="" class="arrow-icon">
                        <span class="s-r-route-text">Ств</span>
                    </div>
                </div>
                <div class="s-r-route-passenger-block">
                    <div class="s-r-passenger">
                        <img src="/images/Ann.png" alt="" class="s-r-passenger-img">
                        <span class="name-passenger">Анна</span>
                    </div>
                    <div class="s-r-p-route-text-block">
                        <span class="s-r-route-text">Ств</span>
                        <img src="/images/arrow-right.svg" alt="" class="arrow-icon">
                        <span class="s-r-route-text">Ств</span>
                    </div>
                </div>
                <div class="s-r-route-passenger-block">
                    <div class="s-r-passenger">
                        <img src="/images/Vadim.png" alt="" class="s-r-passenger-img">
                        <span class="name-passenger">Вадим</span>
                    </div>
                    <div class="s-r-p-route-text-block">
                        <span class="s-r-route-text">Ств</span>
                        <img src="/images/arrow-right.svg" alt="" class="arrow-icon">
                        <span class="s-r-route-text">Ств</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="s-r-route-sales-block">
            <span class="s-r-route-sales"> Свободно</span>
            <span class="s-r-route-sales">1 место из 4</span>
        </div>
    </div>
    <div class="search-result-info-block">
        <div class="s-r-info-title">
            <h3 class="s-r-title--text">Водитель</h3>
            <div class="s-r-icon">
                <img src="/images/arrow-right-light.svg" alt="" >
            </div>
        </div>
        <div class="s-r-block-item">
            <div class="s-r-result-driver-info">
                <div class="s-r-d-info-title">
                    <div class="s-r-driver-item-block">
                        <img src="/images/user-image.png" alt="" class="driver-image">
                        <div class="s-r-driver-text-req">
                            <span class="driver-name">Евгений</span>
                            <span class="driver-age">30 лет</span>
                        </div>
                    </div>
                    <div class="s-r-driver-item-review-block">
                        <div class="s-r-review-driver">
                            <img src="/images/rate-star.svg" alt="" class="review-icon">
                            <img src="/images/rate-star.svg" alt="" class="review-icon">
                            <img src="/images/rate-star.svg" alt="" class="review-icon">
                            <img src="/images/rate-star.svg" alt="" class="review-icon">
                            <img src="/images/rate-star.svg" alt="" class="review-icon">
                        </div>
                        <span class="driver-des-text">(18 Отзывов)</span>
                    </div>
                    <div class="s-r-driver-item-review-block">
                        <div class="s-r-review-driver">
                            <img src="/images/green-flag.svg" alt="" class="review-icon">
                        </div>
                        <span class="driver-des-text">(7 Поездок)</span>
                    </div>
                </div>
                <div class="s-r-comment-block">
                    <spna class="s-r-comment-title">Комментарий</spna>
                    <div class="s-r-comment-content-block">
                        <span class="s-r-comment-des-content">Еду с женой в Ростов на Дону Могу взять попудчиков чтобы покрыть</span>
                    </div>
                    <span class="s-r-comment-title mar-t-30-f ">Место в багажнике</span>
                    <div class="s-r-comment-content-block">
                        <span class="s-r-comment-des-content">Левый груз не беру, с дороги не сварачиваю, багажник почти полный не большой багаж могу взять.</span>
                    </div>
                </div>
            </div>
            <div class="s-r-car-info">
                <button class="s-r-connection-driver">Связаться с водителем</button>
                <div class="s-r-car-info-block-item">
                    <img src="/images/car.png" alt="" class="s-r-car-img">
                    <div class="s-r-car-info-item-block">
                        <span class="name-car">Skoda RAPID</span>
                        <span class="color-car">желтый</span>
                    </div>
                </div>
                <div class="s-r-services mar-t-50">
                    <img src="/images/smoke.svg" alt="" class="s-r-services-icon">
                    <span class="service-text">Можно курить</span>
                </div>
                <div class="s-r-services">
                    <img src="/images/wifi.svg" alt="" class="s-r-services-icon">
                    <span class="service-text">Можно курить</span>
                </div>
                <div class="s-r-services">
                    <img src="/images/condicioner.svg" alt="" class="s-r-services-icon">
                    <span class="service-text">Можно курить</span>
                </div>
            </div>
        </div>
        <div class="s-r-set-btn">
            <button class="s-r-form-remove">Назад</button>
            <button class="s-r-form-next">Забронировать</button>
        </div>
    </div>
</div>