<div class="publish-trip-container">
    <div class="trip-block-content-body">
         <div class="trip-block-title">
             <div class="trip-title-item"><span class="trip-title-text">Авто</span></div>
             <div class="trip-title-item"><span class="trip-title-text">Автобус</span></div>
         </div>
        <div class="trip-register-block mar-20">
            <input type="text" class="trip-register pad-input-reg " placeholder="Откуда выежаете">
            <svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="trip-icon-location">
                <path d="M9.75095 13.6658C8.05013 15.7301 4.95179 15.7301 3.25097 13.6658C1.76526 11.8613 0.000977379 9.17397 0.000977379 6.61314C0.000333046 5.3053 0.381234 4.02666 1.09548 2.93904C1.80972 1.85143 2.82519 1.00372 4.01339 0.503203C5.20158 0.00268804 6.50908 -0.128136 7.77042 0.127288C9.03176 0.382712 10.1902 1.0129 11.0992 1.9381C11.7044 2.5508 12.1841 3.27946 12.5106 4.08193C12.837 4.8844 13.0037 5.74473 13.0009 6.61314C13.0009 9.17397 11.2367 11.8613 9.75095 13.6658ZM6.50096 3.78036C5.76215 3.78036 5.05359 4.07881 4.53117 4.61006C4.00875 5.14131 3.71525 5.86184 3.71525 6.61314C3.71525 7.36444 4.00875 8.08497 4.53117 8.61622C5.05359 9.14747 5.76215 9.44592 6.50096 9.44592C7.23978 9.44592 7.94833 9.14747 8.47075 8.61622C8.99317 8.08497 9.28667 7.36444 9.28667 6.61314C9.28667 5.86184 8.99317 5.14131 8.47075 4.61006C7.94833 4.07881 7.23978 3.78036 6.50096 3.78036Z" fill="#D50000"/>
            </svg>
        </div>
        <div class="trip-register-block ">
            <input type="text" class="trip-register pad-input-reg " placeholder="Куда вы едите">
            <svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="trip-icon-location">
                <path d="M9.75095 13.6658C8.05013 15.7301 4.95179 15.7301 3.25097 13.6658C1.76526 11.8613 0.000977379 9.17397 0.000977379 6.61314C0.000333046 5.3053 0.381234 4.02666 1.09548 2.93904C1.80972 1.85143 2.82519 1.00372 4.01339 0.503203C5.20158 0.00268804 6.50908 -0.128136 7.77042 0.127288C9.03176 0.382712 10.1902 1.0129 11.0992 1.9381C11.7044 2.5508 12.1841 3.27946 12.5106 4.08193C12.837 4.8844 13.0037 5.74473 13.0009 6.61314C13.0009 9.17397 11.2367 11.8613 9.75095 13.6658ZM6.50096 3.78036C5.76215 3.78036 5.05359 4.07881 4.53117 4.61006C4.00875 5.14131 3.71525 5.86184 3.71525 6.61314C3.71525 7.36444 4.00875 8.08497 4.53117 8.61622C5.05359 9.14747 5.76215 9.44592 6.50096 9.44592C7.23978 9.44592 7.94833 9.14747 8.47075 8.61622C8.99317 8.08497 9.28667 7.36444 9.28667 6.61314C9.28667 5.86184 8.99317 5.14131 8.47075 4.61006C7.94833 4.07881 7.23978 3.78036 6.50096 3.78036Z" fill="#D50000"/>
            </svg>
        </div>
        <div class="select-input-container ">
            <select name="gender" class="trip-select-input select-input mar-b-10 ">
                <option value="#" disabled hidden selected>Выберите маршрут</option>
                <option value="male">Москва</option>
                <option value="female">Санкт-Петербург</option>
            </select>
        </div>
        <input type="text" class="trip-register" placeholder="Добавить остановку">
        <div class="trip-date select-input-container select-border">
            <select name="gender" class="trip-select-input select-input mar-b-10 ">
                <option value="#" disabled hidden selected>Выберите маршрут</option>
                <option value="male">Москва</option>
                <option value="female">Санкт-Петербург</option>
            </select>
        </div>
        <div class="trip-time-container select-input-container select-border">
            <select name="gender" class="trip-select-input select-input mar-b-10 ">
                <option value="#" disabled hidden selected>Выберите маршрут</option>
                <option value="male">Москва</option>
                <option value="female">Санкт-Петербург</option>
            </select>
        </div>
        <div class="select-input-container ">
            <select name="gender" class="trip-select-input select-input mar-b-10 ">
                <option value="#" disabled hidden selected>Количество свободный мест</option>
                <option value="male">1</option>
                <option value="female">2</option>
                <option value="female">3</option>
                <option value="female">4</option>
                <option value="female">5</option>
                <option value="female">6</option>
                <option value="female">7</option>
            </select>
            <div class="icon-block">
                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg"  class="icon-t">
                    <path d="M2 15V18H5V15H15V18H18V12H2V15ZM17 7H20V10H17V7ZM0 7H3V10H0V7ZM15 10H5V2C5 0.9 5.9 0 7 0H13C14.1 0 15 0.9 15 2V10Z" fill="black" fill-opacity="0.4"/>
                </svg>
            </div>
        </div>
        <div class="select-input-container ">
            <select name="gender" class="trip-select-input select-input mar-b-10 ">
                <option value="#" disabled hidden selected>Дополнительные услуги</option>
                <option value="male">;)</option>
                <option value="female">:)</option>
            </select>
        </div>
        <input type="text" class="trip-register" placeholder="Установить цену за 1 место">
        <button class="btn-next"><svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="mar-r-20">
            <path d="M12.8738 0C13.5715 0 14.1351 0.559766 14.1351 1.25V2.50586C15.6565 2.59023 16.9848 3.57383 17.4932 5.01172L18.8806 8.9375C19.795 9.3125 20.4414 10.207 20.4414 11.25V18.75C20.4414 19.4414 19.8778 20 19.1802 20H17.9189C17.2213 20 16.6576 19.4414 16.6576 18.75V16.875H4.04501V18.75C4.04501 19.4414 3.48139 20 2.78375 20H1.52249C0.826039 20 0.26123 19.4414 0.26123 18.75V11.25C0.26123 10.207 0.90605 9.3125 1.82244 8.9375L3.20943 5.01172C3.71788 3.57383 5.04614 2.59023 6.56754 2.50586V1.25C6.56754 0.559766 7.13116 0 7.8288 0H12.8738ZM6.78038 5C6.24434 5 5.76742 5.33594 5.59006 5.83594L4.56134 8.75H16.1413L15.1126 5.83594C14.9352 5.33594 14.4583 5 13.9223 5H6.78038ZM4.04501 13.75C4.74265 13.75 5.30628 13.1914 5.30628 12.5C5.30628 11.8086 4.74265 11.25 4.04501 11.25C3.34738 11.25 2.78375 11.8086 2.78375 12.5C2.78375 13.1914 3.34738 13.75 4.04501 13.75ZM16.6576 11.25C15.96 11.25 15.3964 11.8086 15.3964 12.5C15.3964 13.1914 15.96 13.75 16.6576 13.75C17.3553 13.75 17.9189 13.1914 17.9189 12.5C17.9189 11.8086 17.3553 11.25 16.6576 11.25Z" fill="white"/>
        </svg> <span>Опубликовать поездку</span></button>
        <button class="btn-add-trip"><span class="">Добавит обратную поездку</span></button>
    </div>
    <div class="trip-block-map">
        <img src="/images/map_1.png" alt="map">
    </div>
</div>